# Qt and basic stuff
*.o
*.a
*.app
ui_*.h
moc_*.cpp
Info.plist

 
# Exclude temp nibs and swap files
*~.nib
*.swp
 
# Exclude OS X folder attributes
.DS_Store
 
# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# Vs2010 stuff
*.sdf
*.suo
debug/
Release/
ipch/
GeneratedFiles/
*.pdb
*.ilk
*.vcxproj.user
*.opensdf
*.aps

#generic windows stuff
*.exe
*.dll


